body {
	background-color: whitesmoke;
	max-width: 612px;
	font-family: Arial, sans-serif;
	margin: auto;
}

#logo {
	width: 10em;
	height: auto;
	position: fixed;
	left: 5em;
}

nav li {
	display: inline;
	list-style: none;
	font-size: 19px;
}


p {
	font-size: 18px;
	background-color: #eee;
}

dfn {
	display: inline-block;
	font-size: 18px;
	background-color: #eee;
	text-align: justify;
}

h1 {
	font-size: 47px;
}

h2 {
	font-size: 37px;
}

h3 {
	font-size: 29px;
}

h4 {
	font-size: 23px;
}

li a {
	text-decoration: none;
	color: orchid;
}

li a:visited {
	color: mediumpurple;
}

li a:hover {
	background-color: lavender;
}

nav {
	display: flex;
	justify-content: center;
}

img {
	max-width: 612px;
}

span.wtf {
	color: #eee;
}

td.yes {
	background-color: lightgreen;
}

td.no {
	background-color: pink;
}

td.sometimes {
	background-color: lightgray;
}

td {
	text-align: center;
	padding: 5px;
}

blockquote {
	background-color: #eee;
}

table {
	margin-top: 20px;
}

caption {
	padding-bottom: 10px;
}

/*...............style tableau..............*/
table {
	border: medium solid #6495ed;
	border-collapse: collapse;
	border-color: black;
}
th {
	border: thin solid #6495ed;
	padding: 5px;
	background-color: #D0E3FA;
}
td {
	border: thin solid #6495ed;
	padding: 5px;
}

/*...............style pied..............*/
footer {
	background-color: silver;
}
